package main

import (
	"fmt"
	"io/ioutil"
	"log"
	"net/http"
)

func handlePing(w http.ResponseWriter, r *http.Request) {
	body, err := ioutil.ReadAll(r.Body)
	if err != nil {
		http.Error(w, "failed to read body", http.StatusBadRequest)
		return
	}

	log.Println("body:", string(body))
	for n, v := range r.Header {
		log.Println("header:", n, v)
	}

	fmt.Fprint(w, string(body))
}

func main() {
	ServMain(http.HandlerFunc(handlePing))
}
